<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="styles/style.css">
</head>
<body>
  <section id="notifications"></section>
  <main>
    {% block content %}{% endblock %}
  </main>
  {% block scripts %}
    <script src="node_modules/@fortawesome/fontawesome-pro/js/all.js"></script>
    <script src="node_modules/htmx.org/dist/htmx.js"></script>
  {% endblock %}
</body>
</html>