{% extends "base.twig" %}

{% block title %}Bitbucket Pipeline Visualizer{% endblock %}

{% block content %}
  <section class="columns is-variable is-8 homepage">
    <section class="column controls">
      <div class="credentials-container columns box">
        <form
          id="credentials"
          method="GET"
          action="/repositories"
          hx-boost="true"
          hx-swap="outerHTML"
          hx-target=".repo-container">
          <h2 class="is-size-4">Bitbucket Credentials</h2>
          <div class="field">
            <label class="label" for="username">Username</label>
            <div class="control">
              <input type="text" name="username" required />
            </div>
          </div>
          <div class="field">
            <label class="label" for="password">Password</label>
            <div class="control">
              <input type="password" name="password" required />
            </div>
          </div>
          <div class="field">
            <label class="label" for="workspace">Workspace</label>
            <div class="control">
              <input type="text" name="workspace" required />
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button class="is-success button" type="submit">Submit</button>
              <i class="htmx-indicator fas fa-sync-alt fa-spin"></i>
            </div>
          </div>
        </form>
      </div>
      <div class="is-hidden repo-container columns box"></div>
    </section>
    <section class="column is-two-thirds">
      <div class="pipelines columns is-multiline"></div>
    </section>
  </section>
{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script src="scripts/main.js"></script>
{% endblock %}
