{% extends "base.twig" %}

{% block title %}Homepage{% endblock %}

{% block content %}
  <section class="columns homepage">
    <section class="column controls">
      <div class="credentials-container columns">
        <form
          id="credentials"
          method="GET"
          action="/repositories"
          hx-boost="true"
          hx-target=".repo-container">
          <h2 class="is-size-4">Bitbucket Credentials</h2>
          <div class="field">
            <label class="label" for="username">Username</label>
            <div class="control">
              <input type="text" name="username" required />
            </div>
          </div>
          <div class="field">
            <label class="label" for="password">Password</label>
            <div class="control">
              <input type="password" name="password" required />
            </div>
          </div>
          <div class="field">
            <label class="label" for="workspace">Workspace</label>
            <div class="control">
              <input type="text" name="workspace" required />
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button class="is-link button" type="submit">Submit</button>
              <i class="htmx-indicator fas fa-sync-alt fa-spin"></i>
            </div>
          </div>
        </form>
      </div>
      <div class="repo-container columns"></div>
    </section>
    <section class="column is-two-thirds pipelines">
      {% for i in 0..7 %}
          <div class="pipeline-info">
            <span>Test Pipeline {{ i }}</span>
            <div class="pipeline-steps hidden">
              {% for j in 1..random(2, 5) %}
                <div>Step {{j}}</div>
              {% endfor %}
            </div>
          </div>

      {% endfor %}
    </section>
  </section>
{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script src="scripts/main.js"></script>
{% endblock %}
