{% extends "base.twig" %}

{% block title %}Homepage{% endblock %}

{% block content %}
  <main>
    <section class="controls">
      <div class="credentials-container">
        <form
          id="credentials"
          method="GET"
          action="/repositories"
          hx-boost="true"
          hx-target="#repo-container"
        >
          <fieldset>
            <legend>Enter your Bitbucket Credentials</legend>
            <div>
              <label for="username">Username</label>
              <br>
              <input type="text" name="username" required />
            </div>
            <div>
              <label for="password">Password</label>
              <br>
              <input type="password" name="password" required />
            </div>
            <div>
              <label for="workspace">Workspace</label>
              <br>
              <input type="text" name="workspace" required />
            </div>
            <input type="submit" value="Submit"/>
          </fieldset>
        </form>
      </div>
      <div id="repo-container"></div>
    </section>
    <section class="pipelines">

    </section>
  </main>
{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script>
    function storeHTML(key, sourceElement) {
      let temp = sourceElement.innerHTML;
      window.localStorage.setItem(key, temp);
    }

    function setHTML(key, targetElement) {
      let temp = window.localStorage.getItem(key);

      if (temp) {
        targetElement.innerHTML = temp;

        return true;
      }

      return false;
    }

    const credentialsForm = document.querySelector('#credentials');
    credentialsForm.addEventListener('htmx:beforeRequest', function(evt) {
        if(setHTML('repos', document.querySelector('#repo-container'))) {
          evt.detail.xhr.abort();
        }
    });

    const repoContainer = document.querySelector('#repo-container');
    repoContainer.addEventListener('htmx:afterSettle', function(evt) {
      storeHTML('repos', evt.detail.elt);
    });

  </script>
{% endblock %}