{% macro setStatusClass(status) %}
  {% if status == 'IN PROGRESS' %}
    has-background-warning
  {% elseif status == 'CANCELED' %}
    has-background-grey-light
  {% elseif status == 'FAILED' %}
    has-background-danger
  {% elseif status == 'SUCCESS' %}
    has-background-success
  {% endif %}
{% endmacro %}


{% for pipeline in pipelines %}
  <div class="pipeline-info column is-one-third">
    <div class="box {{ _self.setStatusClass(pipeline.status) }}">
      <span class="title has-text-white is-5">{{pipeline.repository}} #{{ pipeline.number }}</span>
      <div class="pipeline-steps inactive">
        {% for step in pipeline.steps %}
          <div>Step {{step.name}}</div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endfor %}
