html {
  /** Bitbucket Blue **/
  background-color: #0747a6;
}

.repo-container {
  height: 500px;
  margin-top: 20px;
}

#repositories {
  width: 100%;
}

.repo-list {
  overflow: auto;
  height: 350px;
  border: 1px solid grey;
}

.pipeline-info {
  cursor: pointer;
}

.pipeline-steps {
  transition: max-height 0.25s, opacity 0.25s;
}

.inactive {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
}

.active {
  max-height: 1000px;
  opacity: 1;
  visibility: visible;
}